<h1>Welcome</h1>
<p>Login to Neo4j-Pique to see how some of your twitter friends i.e. people you follow have 'liked' a thing.</p>
<%= render :partial => 'main/common/login', :locals => { } %>
<hr/>
<div id="votes" data-toggle-like-path='<%= "#{api_tags_toggle_like_path}.json" %>' 
	data-view-likes-path='<%= "#{api_tags_view_likes_path}.json" %>' >
  <%= render :partial => 'main/common/like', :locals => { :tag => 'Apples' } %>
  <%= render :partial => 'main/common/like', :locals => { :tag => 'Oranges' } %>
  <%= render :partial => 'main/common/like', :locals => { :tag => 'Pears' } %>
</div>